@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* View Transition Styles */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 
   When switching Dark -> Light (DOM is Light)
   We want the Old View (Dark) to stay on TOP and shrink.
   By default, New View is on top. We reverse this using the data attribute.
*/
[data-theme-transition="to-light"]::view-transition-old(root) {
  z-index: 2147483647;
}

[data-theme-transition="to-light"]::view-transition-new(root) {
  z-index: 0;
}

@layer base {
  :root {
    /* Light Mode (Default) */
    --color-primary: 113 113 122;
    /* #71717A (Zinc 500) */
    --color-primary-dark: 82 82 91;
    /* #52525B (Zinc 600) */
    --color-secondary: 0 0 0;
    /* Black text for Light Mode */

    --color-neutral: 244 244 245;
    /* #F4F4F5 (Zinc 100) - Slightly darker off-white */
    --color-neutral-card: 255 255 255;
    /* #FFFFFF (White Cards) */
    --color-neutral-border: 228 228 231;
    /* #E4E4E7 (Zinc 200) */

    --color-text: 9 9 11;
    /* #09090B (Zinc 950) */
    --color-text-muted: 113 113 122;
    /* #71717A (Zinc 500) */

    --color-surface: 255 255 255;
    /* #FFFFFF */
  }

  .dark {
    /* Dark Mode */
    --color-primary: 113 113 122;
    /* #71717A (Zinc 500) */
    --color-primary-dark: 161 161 170;
    /* #A1A1AA (Zinc 400 - Lighter for dark mode hover) */
    --color-secondary: 255 255 255;
    /* White text for Dark Mode */

    --color-neutral: 9 9 11;
    /* #09090B */
    --color-neutral-card: 24 24 27;
    /* #18181B */
    --color-neutral-border: 39 39 42;
    /* #27272A */

    --color-text: 244 244 245;
    /* #F4F4F5 */
    --color-text-muted: 161 161 170;
    /* #A1A1AA */

    --color-surface: 0 0 0;
    /* #000000 */
  }
}

@layer base {

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    @apply bg-neutral text-text antialiased font-sans selection:bg-primary selection:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-medium text-text tracking-tight;
  }
}